.home {
  display: inline-block;
}
.menu-item {
  color: whitesmoke;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: black;
}

.fa {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fa:hover {
  color: whitesmoke;
}

.menu-right .menu-item {
  margin-left: 20px;
}
.menu-right {
  display: flex;
  justify-content: flex-end;
}
